<launch>
    <arg name="port" default="/dev/ttyUSB0" />

    <node pkg="my_dynamixel_tutorial" name = "motor_control" type="motor_control.py" output="screen"/>
    <node pkg="rosserial_python" name = "door_watcher" type="serial_node.py" output="screen">
        <param name="port" value="$(arg port)" />
    </node>
</launch>